body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name {
    color: rgb(230, 51, 51);
}
section{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 50px;
    margin-right: o;
}
.half-width img{
    width: 90%;
    padding-left: 350px;
}
.half-width img{
    height: 60%;
}
.link-button{
    text-decoration: none;
   background-image: -moz-repeating-linear-gradient(rgb(54, 6, 6),rgb(192, 130, 130));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
}
.sec img{
    width: 50%;
    padding-right: 350px;
    height: 60%;
}
.divt{
    display: flex;
    width: 50%;
}
#sins {
    display: flex;
    margin-bottom: 150px;
}
.shadow{
    border-left: blue solid 10px;
    box-shadow: 10px 10px 40px orange
}